.aboutUs {
    top: 0;

    // padding: 2em;
    background: $ue-panel-bg;

    // border-radius: 100px 0px 0px 0px;
    // clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
    .cool-img {
        width: 100%;
    }



    .slick-slider {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
        cursor: pointer;


        .slick-track {
            top: 10px;
        }

        .slick-prev,
        .slick-next {
            border-radius: 50% !important;
            width: 30px !important;
            height: 30px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            & ::before {
                color: white !important;
            }
        }
    }

    .slick-next:before,
    .slick-prev:before {
        display: none;
    }

    h3 {}

    .card-skill {
        border: 1px solid rgba(255, 255, 255, 0.193);
        border-radius: 20px;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        max-height: 500px;
        
    }

    .card-flip {
        position: relative;
        width: 100%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        
      }
      
      .is-flipped {
        position: absolute;
        // bottom: 100px;
        transform: rotateY(180deg);
        // display: none;
      }
      
    //   .card {
    //     // position: absolute;
    //     // width: 100%;
    //     backface-visibility: hidden;
    //   }
      
      .card-back {
        transform: rotateY(180deg);
        background: #f8f8f8; 
        display: flex;
        position: absolute;
        bottom: 15em;

        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        transition: 0.5s;

      }
    .card {
        position: relative;
        // padding: 10px;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0);
        margin: 20px auto;
        text-align: left;
        max-width: 600px;
        backface-visibility: hidden;
        // transform: rotateY(180deg);
        transition: 0.5s;
        // display: flex;


        .box {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 50%;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            .text {
                font-size: 1.5em;
                margin-bottom: 10px;
                font-weight: bold;
            }

            p {
                font-size: 1em;
                color: #333;
            }
        }
        .dis{
            opacity: 0;
        }
    }

    .title-about-me {
        font-size: 40px;
        font-family: 'Audiowide', sans-serif;
        font-weight: $font-weight-bold;
        text-align: center;
        padding-top: 0.85em;
        margin: 0;
        margin-bottom: 1em;
    }

    .sub-title-about-me {
        margin: 10px 0 30px 0;
        color: #ed3a3a;

    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: $font-secondary;
        font-size: $font-size-xl;

        padding-bottom: 2em;
        // height: 500px;

        .left {
            display: flex;
            padding-left: 2em;


        }

        .right {
            width: 55%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            // margin-right: 50px;

            img {
                height: 320px;
                width: 320px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid rgb(245, 240, 240);

                @media (max-width: 768px) {
                    height: 200px;
                    width: 200px;
                }

                @media (max-width: 480px) {
                    height: 180px;
                    width: 180px;
                }
            }

            h3 {
                text-align: center;
                font-family: $font-secondary;
                font-size: 1.3em;
                margin: 0;
                
            }

            .text {
                font-size: 1.3em;
                font-weight: 600;
                margin-bottom: 10px;
                font-family: 'Audiowide', sans-serif;


                //   color: #abc7e7;

                span {
                    // background: linear-gradient(135deg, #200b8b, #fff, rgb(158, 6, 9));
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                }
            }

            p {
                text-align: start;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
                text-align: center;
            }

            a {
                display: inline-block;
                background: #ffffff;
                color: #333;
                font-size: 20px;
                font-weight: 800;
                font-family: 'Audiowide', sans-serif;
                padding: 10px 30px;
                margin-top: 20px;
                border-radius: 6px;
                // border: 2px solid #dddddd;
                margin-bottom: 10px;
                text-decoration: dashed;

                &:hover {
                    color: white;
                    background: $ue-blue;
                }
            }
        }
    }
}

@media (max-width: 1033px) {
    .aboutUs {
        // clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0);

    }


    .about-content {
        flex-direction: column;
        text-align: center;

        & .left {
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 0;
            margin: 0;
            margin-right: none;
        }

        & .right {
            display: flex;
            width: 100%;
            align-items: center;


        }

        & .text {
            text-align: center;
        }
    }
}


@media (max-width: 776px) {
    .aboutUs {
        top: 0;

        .about-content {
            .left {
                padding-left: 0px;
            }

            .right {
                p {
                    font-size: 0.9em;
                }
            }
        }

        .card-skill{
            max-height: 500px;
            
            
            .card-back{
                font-size: 0.8em;
                bottom: 13em;

            }
        }


        // padding: 2em;
        background: $ue-panel-bg;
        // border-radius: 100px 0px 0px 0px;
        // clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0);
    }
}

@media(max-width:500px){
    .aboutUs {
        top: 0;

        .about-content {
            .left {
                padding-left: 0px;
            }

            .right {
                p {
                    font-size: 0.9em;
                }
            }
        }

        .card-skill{
            max-height: 500px;
            
            
            .card-back{
                font-size: 0.85em;
                bottom: 17em;

                @media (max-width:350px) {
                    bottom: 19em;
                    font-size: 0.8em;

                }

            }
        }


        // padding: 2em;
        background: $ue-panel-bg;
        // border-radius: 100px 0px 0px 0px;
        // clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0);
    }
}