.appHeader {
    display: flex;


    & .card_logo {
        background-color: $ue-dark-gray;
        font-family: $font-secondary;
        font-weight: bold;
        padding: 0px 1em;
        border-radius: 0px 0px 1em 0.1em;
        margin-left: 1em;
    }


}

@media (max-width: 767px) {
    .appHeader {
        z-index: 1;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        background-color: $ue-gray;
        padding: 0.5em 0;
    }

    .appHeader .card_logo {
        background-color: $ue-gray;
        color: $ue-dark-gray;

        margin-left: 0;
        border-radius: 0;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .appHeader {
        z-index: 1;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        background-color: $ue-gray;
        padding: 0.5em 0;
    }

    .appHeader .card_logo {
        background-color: $ue-gray;

        color: $ue-dark-gray;

        margin-left: 0;
        border-radius: 0;
    }


}