// Add this to your SCSS file

.contact-page {
    width: 100%;
    background: $ue-panel-bg;
    font-family: $ue-text-primary;
    // margin-bottom: 1em;
    padding-bottom: 5em;
    
    .links-pages{
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 3em;
        color: $ue-text-primary ;

        a:hover{
            color: $ue-blue;
        }
    }

    h2{
        text-align: center;
        font-size: $font-size-xxl;
        margin-bottom:0.5em ;
        font-family: 'Audiowide', sans-serif;

    }
    form {
        margin-top: 1em;
        // margin-bottom: 1em;
        max-width: 400px;
        
        margin: 0 auto;
        padding: 3em;
        // border: 1px solid #cccccc3d;
        box-shadow: inset 0 -3em 3em $ue-dark-gray ,
        1px 1px 10px 1px rgba(255, 255, 255, 0.113);
        border-radius: 15px;
        @media (min-width: 1025px) { 
            max-width: 50%;
        }

        div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 15px;
            background-color:white;
            font-family: 'Audiowide', sans-serif;
            font-size: large;
            color: #000000;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $ue-blue;
                color: white;
            }
        }

        textarea{
            width: 100%;
            height: 5rem;
            font-family: 'Courier New', Courier, monospace;
        }
        .error {
            color: red;
            font-size: 0.875em;
        }
    }
}