.Home-Page{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title-card-container{
        width: 100%;
        background-color: rgb(97, 115, 6);

    & .title-card{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        margin: 0;

        align-items: center;
        
    }
}
}