.Home-Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: $ue-background;
    // width: 100%;


    & .title-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:$ue-text-primary ;
        width: 100%;

    & .title-card{
        display: flex;
        align-items: center;
        padding: 30vh 0px;
        
    }
}
}