.Home-Page {

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .title-new {
        font-family: 'Audiowide', sans-serif;

    }

    // background: $ue-background;
    // width: 100%;


    & .title-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $ue-text-primary ;
        width: 100%;
        font-size: $font-size-xl;
        padding: 12vh 0px 40vh;

        h5{
            font-family: 'Audiowide', sans-serif;
            font-weight: 100;
        }

        & .title-card {
            // display: flex;
            align-items: center;
            font-size: $font-size-xxl;

        }

        .links-pages {
            display: flex;
            gap: 0.5rem;
            font-size: 1.7em;

            a:hover {
                color: $ue-blue;
            }
        }

        img {
            position: relative;
            left: 8vw;
            max-width: 500px;
            animation: float 3s ease-in-out infinite;
            // box-shadow: 100px 100px 20px 10px rgba(0, 0, 0, 0.05);

            @media (max-width: 1300px) {
                max-width: 30%;
            }
            @media (max-width: 1050px) {
                max-width: 10%;
            }
            @media (max-width: 800px) {
                max-width: 100px;
            }
          
        }
    }

    @media (max-width: 1024px) {
        .title-card-container {

            font-size: $font-size-lg;
            img{
                box-shadow: 100px 100px 20px 10px rgba(0, 0, 0, 0.00);
            }
        }


    }
    @media (max-width: 800px) {
        .title-card-container {
            text-align: center;
            justify-content: center;
            gap: 3em;
            flex-direction: column;

            img{
                position: relative;
                left: 0;
                margin-right: 15px;
                box-shadow: 100px 100px 20px 10px rgba(0, 0, 0, 0.00);

                
            }
        }

        .links-pages {
            align-items: center;
            justify-content: center;            

            a:hover {
                color: $ue-blue;
            }
        }
    }
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}