.portfolio {
  padding: 10px;
  text-align: center;
  margin: 30px auto;
  // font-family: $ue-text-primary

  h3{
    font-size: $font-size-xxl;
    color: $ue-text-primary;
        font-family: 'Audiowide', sans-serif;

  }

  .card-container{
    // margin-top: 3em;
    margin: 1em;
  }
  .title {
    font-size: 2em;
    margin-bottom: 20px;

    &::after {
      content: "- What I did ? - ";
      display: block;
      font-size: 0.75em;
      color: #ed3a3a;
      margin-top: 5px;
    }
  }

  .slick-dots{
    display:none;
    bottom:0px;
  }

  .slick-slider {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    cursor: pointer;

    .slick-prev,
    .slick-next {
      border-radius: 50% !important;
      width: 30px !important;
      height: 30px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;

      & ::before {
        color: white !important;
      }
    }

    .slick-prev {
      left: -70px !important;
    }

    .slick-next {
      right: -70px !important;
    }
  }


  .slick-prev:before,.slick-next:before{
    font-size: 50px;
    
  }
  .card {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    margin: 20px auto;
    text-align: left;
    max-width: 600px;

    .box {
      img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .text {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p {
        font-size: 1em;
        color: #333;
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 400px;
  }

  /* Hide sliders in phone and tablet view */
  .slick-slider  {
    display: none;
  }
  .portfolio .slick-slider .slick-next {
    display: none !important;
  }
  .portfolio .slick-slider .slick-prev{
    display: none !important;
  }
  
}
