* {
    box-sizing: border-box;
}



html {
    color: $ue-text-primary;
 background-image: radial-gradient(ellipse farthest-corner at center top, lighten(lighten(#2c3e50, 40%),5%) 0%, darken(#2c3e50, 10%) 100%);    background-size: 200% 200%;
    // animation: gradient 15s  infinite;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;

    & a {
        color: $ue-text-primary;
    }
}

body {
    margin: 0;
}