* {
    box-sizing: border-box;
}



html {
    color: $ue-text-primary;
    background: $ue-background;
    background-size: 200% 200%;
    // animation: gradient 15s  infinite;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;

    & a {
        color: $ue-text-primary;
    }
}

body {
    margin: 0;
}